{% extends "base.html" %}

{% load static %}




{% block title %}Reportes Ventas{% endblock %}



{% block head %}

<head>
    <link rel="stylesheet" href="{% static 'reportes/reportesVentas.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
{% endblock %}

{% block content %}
{{ url_template|json_script:"url-template" }}
<main class="contenedor-reportes">
    <h1>Reporte de Ventas</h1>
    <div class="contenedor-derecha">
        <div id='boxunico' class="box-unico">
            <div class="box-titulo">
                Seleccione una opción
            </div>
            <label class="opcion">
                <input type="checkbox" name="grupoFechas" class="chk-unico" checked>
                Fecha
            </label>
            <label class="opcion">
                <input type="checkbox" name="grupoCliente" class="chk-unico">
                Cliente
            </label>
            <label class="opcion">
                <input type="checkbox" name="ChkAmbos" class="chk-unico">
                Fecha y Cliente
            </label>
            <button type="submit" id="btnBuscar">Buscar</button>
        </div>
    </div>

    <div id="grupoFechas" class="grupoFechas">
        <div class="titulo-grupo-fechas">Rango de fechas</div>
        <section class="filtros-fecha">
            <div class="grupo-label-input">
                <label for="fechaInicio">Desde:</label>
                <input type="text" id="fechaInicio" name="fechaInicio" placeholder="Seleccionar fecha">
            </div>
            <div class="grupo-label-input">
                <label for="fechaFin">Hasta:</label>
                <input type="text" id="fechaFin" name="fechaFin" placeholder="Seleccionar fecha">
            </div>
        </section>
    </div>

    <div id="grupoCliente" class="grupoCliente">
        <div class="titulo-grupo-fechas">Cliente</div>
        <section class="filtros-fecha">
            <div class="grupo-label-input">
                <label for="fechaInicio">Razon Social:</label>
                <input type="text" id="inputRazon" name="inputRazon" placeholder="Ingresar Razon Social">
            </div>
        </section>
    </div>

<label id="labelInfo" class="label-alerta" for="labelInfo">NO HAY FACTURAS DISPONIBLES</label>

    <section class="tabla-resultados">
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Comprobante</th>
                    <th>Nro. Comprobante</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tablaReportes">
            </tbody>
        </table>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
<script src="{% static 'reportes/reportesVentas.js' %}"></script>

{% endblock %}

{% block foot %}

{% endblock %}