    body {
        font-family: sans-serif;
        background: white;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        background: white;
        margin: 0 auto;
    }

    th,
    td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    th {
        background: #eee;
    }

    tr:hover {
        background: #f0f0f0;
    }

    .tabla-scroll {
        max-height: 20%;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0 auto;
        width: 85%;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    .tabla-scroll table {
        width: 100%;
        border-collapse: collapse;
        background: white;
    }

    .tabla-scroll thead th {
        position: sticky;
        top: 0;
        background: #eee;
        z-index: 2;
    }



    .form-container {
        width: 50%;
        margin: 40px auto 0 auto;
        background: white;
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 40px;
        margin-right: 2%;
    }

    .full-width {
        grid-column: 1 / 3;
        margin-left: 10%;
        margin-right: 10%;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    [type="number"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .actions {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    .save-button {
        background: #4CAF50;
        padding: 10px 20px;
        border: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

    .button-table {
        border: none;
        background: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.9;
    }

    .button-error {
        background: rgb(175, 41, 41) !important;
        cursor: not-allowed
    }

    .cursor-error {
        cursor: not-allowed !important
    }


    .input-with-button {
        display: flex;
        align-items: center;
    }

    .input-with-button input {
        flex: 1;
    }

    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .input-error {
        border: 3px solid rgb(175, 41, 41) !important;
    }

    .input-error:focus {
        outline: none;
    }

    .alert {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .alert.error {
        background-color: #f8d7da;
        color: #721c24;
    }

    .alert.success {
        background-color: #d4edda;
        color: #155724;
    }