body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #2c3e50;
	color: white;
	padding: 10px 20px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
	margin: 0;
	padding: 0;
}

.nav-links li a {
	color: white;
	text-decoration: none;
	font-weight: 500;
}

.nav-links li a.active {
	border-bottom: 2px solid #ecf0f1;
}

.contenedor-reportes {
	padding: 20px;
}

.filtros-fecha {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 20px;
}

.filtros-fecha input {
	padding: 5px;
	font-size: 1em;
}

.filtros-fecha button {
	padding: 8px 20px;
	background-color: #2C2C50;
	color: white;
	border: none;
	border-radius: 4px;
	font-weight: 600;
	font-size: 0.95em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, transform 0.2s ease;
	cursor: pointer
}

.filtros-fecha button:hover {
	background-color: #4A4A87;
	transform: translateY(-1px);
}

.filtros-fecha button:active {
	transform: translateY(0);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.filtros-fecha button:disabled {
  background-color: #bdc3c7;
  color: #ffffff;
  cursor: not-allowed;
  opacity: 0.7;
  box-shadow: none;
  transform: none;
}


.tabla-resultados table {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
}

.tabla-resultados th,
.tabla-resultados td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}


input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 0.95em;
  background-color: white;
}

.cursor-notallowed {
	cursor: not-allowed !important
}


.label-alerta {
  display: none;
  background-color: #f8d7da; /* rojo claro */
  color: #721c24;            /* rojo oscuro */
  border: 1px solid #f5c6cb;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 2%;
}

.label-alerta.visible {
  display: inline-block;
}


.acciones {
  display: flex;
  justify-content: center;
}

.spanButton {
	cursor:pointer;
	background-color: transparent;
	border: 0;
	outline: none;
}

h1 {
	text-align: center;
    margin-bottom: 30px;
}